.App {
  text-align: center;
}

#home {
  background-color: black;
  z-index: -1;
  color: white;
}

.credits {
  min-width: 100vw;
  top: 95vh;
  left: 0;
  position: absolute;
  overflow-x: hidden;
  overflow: hidden !important;
  width: 100vw;
}

.heading {
  font-weight: 700;
}

.login-card {
  border-radius: 20px;
  z-index: 10;
  top: -75vh;
  left: 10vw;
  height: 40vh;
  width: 30vw;
  background-color: black;
  color: white;
}

.hero {
  overflow: hidden;
  height: 100vh !important;
  max-width: 100vw;
  z-index: 1;
}

.auth {
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: -1;
}

.signup-card {
  border-radius: 20px;
  z-index: 10;
  top: -75vh;
  left: 10vw;
  height: 40vh;
  width: 30vw;
  background-color: black;
  color: white;
}

.chat-area {
  overflow-y: scroll;
  height: 80vh;
}

.textBox {
  overflow: hidden;
  max-height: 50px;
  max-width: 16vw;
  border-radius: 25px;
  margin-top: 3px;
}

.container{
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  top: 0;
  left: 0;
  z-index: 9;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;
}

header .banner {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 30px;
  text-align: center;
  margin-top: 30vh;
}

header h1 {
  font: 80px/1.1em 'opensans-bold', sans-serif;
  font-weight: 900;
  letter-spacing: -1px;    
  color: white;
}

header h3 {
  font-family: "Times New Roman", Times, serif;
  font: 22px/30px, serif;
  margin-bottom: 12px;
  color: white;
}

.button {
  z-index: 20;
  font: 16px/30px 'opensans-bold', sans-serif;
  background: #00cab9;
  display: inline-block;
 text-decoration: none;
  letter-spacing: 0;
  width: 10vw;
 padding: 12px 20px;
 margin-bottom: 18px;
 border-radius: 20px;
  border: white;
  cursor: pointer;
  height: auto;
}

.button-logs {
  z-index: 20;
  font: 16px/30px 'opensans-bold', sans-serif;
  background: #00cab9;
  display: inline-block;
 text-decoration: none;
  letter-spacing: 0;
  font-weight: 800;
  width: 20vw;
 padding: 12px 20px;
 margin-bottom: 18px;
 margin-left: 20px;
 border-radius: 20px;
  border: white;
  cursor: pointer;
  height: auto;
  color: white
}

.btn-sgn {
  background-color: blue;
}

.link {
  color: white;
  text-decoration: none;
}

.leftVis {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.leftHide{
  display: flex;
  flex-direction: column;
  flex: 0.7;
}

.chatVis {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex: 0.3;
  left: 80vw;
  width: 20vw;
  height: 93vh;
  margin-top: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
}

.chatHide {
  display: none;
  flex-direction: column;
  flex: 0.3;
  left: 80vw;
  width: 20vw;
  height: 80vh;
  position: absolute;
  background-color: black;
}

.main_right {
  height: 50vh;
}

.text-area {
  top: 67vh;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20vh;
  margin-left: 8px;
  position: absolute;
}

.send {
  position: absolute;
  height: 5vh;
  width: 5vh;
  margin-left: 1vh;
  border-radius: 2.5vh;
  cursor: pointer;
  background-color: black;
  color: white;
}

.input-msg {
  width: 18vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.my-video{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 40px;
  border-radius: 10px !important;
  max-width: 15% !important;
  max-height: 15% !important;
  background: #000000;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.friend-video{
  z-index: 1;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px !important;
  margin-right: 30px !important;
  border-radius: 10px !important;
  background: #000000;
  overflow: hidden;
  width: 97vw !important;
  height: 86vh !important;
}

button {
  cursor: pointer;
}

.callers{
  position: relative;
}

.call-action {
  position: relative;
  display: flex;
  justify-content: center;
}

.peers {
  position: fixed;
  top: 85%;
}

.video-call-div {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: #000000;
}

.footer{
  width: 100vw;
  height: 7vh;
  background: black;
}

.btn-circle {
  width: 6vh;
  height: 6vh;
  border-radius: 30px;
  border-color: black;
  background: black;
  margin-top: -15px !important;
  font-size: 18px;
  color:  white;
  text-align: center;
  margin-right: 10px;
}

.btn-unmute {
  width: 6vh;
  height: 6vh;
  padding: 6px 0px;
  border-radius: 30px;
  border-color: black;
  margin-top: -15px !important;
  font-size: 18px;
  color: white;
  text-align: center;
  background: black;
  transition: linear 0.7s;
}

.btn-mute {
  width: 6vh;
  height: 6vh;
  padding: 6px 0px;
  border-radius: 30px;
  border-color: black;
  margin-top: -15px !important;
  font-size: 18px;
  color: red;
  text-align: center;
  background: black;
  transition: linear 0.7s;
}

.btn-video-off {
  width: 6vh;
  height: 6vh;
  padding: 6px 0px;
  border-radius: 30px;
  border-color: black;
  margin-top: -15px !important;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  color: red;
  text-align: center;
  background: black;
  transition: linear 0.7s;
}

.L {
  color: rgb(0, 195, 255)
}

.leave {
  color: red;
}

.btn-video-on {
  width: 6vh;
  height: 6vh;
  padding: 6px 0px;
  border-radius: 30px;
  border-color: black;
  margin-top: -15px !important;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  text-align: center;
  background: black;
  transition: linear s;
}